<h3>All posts!</h3>

<ul>
  <% @posts.each do |post| %>
    <li>
      <p>Title: <%= post.title %></p>
      <p>Creator: <%= post.creator.username %></p>
      <p><%= link_to 'View Post', post_path(post) %></p>
    </li>
  <% end %>
</ul>