/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

.navbar ul.nav  {
  li.btn-group {
    padding-right: 15px;
  }
  .btn {
    height: 20px;
    padding: 2px 10px;
    text-shadow: none;
    display: inline-block;
  }

  .btn-success {
    color: #fff;
    &:hover {
      background-color: #51a351;
      color: #fff;
    }
  }

  .btn.dropdown-toggle {
    background-color: rgb(230,230,230);
    color: #000;
    .caret {
      border-top-color: #000;
      border-bottom-color: #000;
    }
  }

  > li:last-of-type a {
    &:hover {
      background-color: rgb(230,230,230);
    }
  }
}

.form-group {
  margin-bottom: 10px;
}

.badge {
  margin-right: 5px;
}

.checkbox.inline input {
  position: relative;
  top: -3px;
}

span.badge a {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

.span0.well.text-center {
  > p {
    margin: 0;
  }
}